table {
    border-collapse: collapse;
    margin: 20px 0;
  }
  td {
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
  }
  .casi-primo {
    background-color: yellow;
  }